
$ngrid-header-background-color: #F0F5F7;
$ngrid-header-text-color: #6d737b;

$ngrid-border-color: #D0D0D0;
$ngrid-background-color-over: #E4E8EF;
$ngrid-text-color: #071013;
$ngrid-selected-background-color: #E4E8EF;
